<div class="container">
    <div class="jumbotron" style="background-position: center; background-image: url(https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1024/https://english-skype.net/wp-content/uploads/2019/07/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea-1024x588.jpg);">
        <h1 style="color: #0d3967; text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, #cad5e2 3px 3px 0; #cad5e2 4px 4px 0, #cad5e2 5px 5px 0;">{{title}}</h1>
        {{!-- <div><a class="btn btn-info btn-lg" href="/create">Create a new document</a></div> --}}
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Group</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students }}
                    <tr>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{group}}</td>
                        <td>{{course}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>